@charset "UTF-8";
@font-face {
  font-family: "FuturaStd Book";
  src: url("../fonts/FuturaStd Book.otf");
}
@font-face {
  font-family: "FuturaStd Bold";
  src: url("../fonts/FuturaStd Bold.otf");
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  max-width: 1360px;
  margin: 0 auto;
  font-family: "FuturaStd Book";
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "FuturaStd Book";
}

header, main, footer {
  flex-shrink: 0;
  font-family: "FuturaStd Book";
}

a {
  text-transform: uppercase;
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  max-width: 580px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 767px;
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 320px) {
  .wrapper {
    min-width: 320px;
  }
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: white;
  padding-top: 20px;
}

.header__logo {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 384px;
  height: 84px;
  background-image: url("../img/logo.jpg");
  background-size: 100%;
}

.menu__adaptive {
  display: none;
}

.header__sign {
  right: 60px;
  margin-top: 20px;
  display: block;
  font-size: 14px;
  letter-spacing: 0.1em;
  border: 1px solid white;
  position: absolute;
  font: 300 14px Futura;
  color: #000;
}

.main__menu__nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  text-transform: lowercase;
  /*margin-left: 160px;*/
  margin: 30px 0 40px 0;
}

.nav__link {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
}

.nav__link:hover {
  color: #ffa687;
}

.nav__link::after {
  font-size: 0.8rem;
  padding: 0 0 0 3px;
}

.nav__link:hover::after {
  color: #ffa687;
}

@media (max-width: 767px) {
  .header {
    padding-bottom: 40px;
  }

  .header__logo {
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    max-width: 120px;
    height: 24px;
    background-image: url("../img/logo.jpg") no-repeat;
    background-size: 100%;
    top: 20px;
  }

  .header__sign {
    float: right;
  }

  .main__menu__nav {
    display: none;
  }

  .menu__adaptive {
    font-size: 2em;
    left: 20px;
    margin-top: 20px;
    display: block;
    position: absolute;
    cursor: pointer;
  }

  .fa {
    display: block;
    font-family: FontAwesome;
    top: 0px;
  }

  .fa-bars::before {
    content: "";
  }
}
@media (max-width: 320px) {
  .header {
    padding: 0;
  }

  .header__sign {
    font-size: 12px;
    right: 20px;
  }
}
.collage {
  background: url("../img/women.png") no-repeat;
  height: 550px;
  width: 100%;
  background-size: 100%;
  background-position: center;
}

@media (max-width: 767px) {
  .collage {
    background: url("../img/women-collage.png") no-repeat;
    max-height: 200px;
    width: auto;
    background-size: 100%;
    background-position: center;
  }
}
@media (max-width: 320px) {
  .collage {
    min-width: 320px;
    height: 70vh;
  }
}
.description {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

h3 {
  font-size: 180%;
  line-height: 38px;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 33px;
  position: absolute;
}

.description-content {
  padding-bottom: 40px;
  padding-top: 120px;
  width: 100%;
}

.description p {
  font-family: "FuturaStd Book";
  font-size: 135%;
  line-height: 29px;
  text-align: center;
}

.cursive {
  font-style: italic;
}

@media (max-width: 767px) {
  .description {
    width: 90vw;
    text-align: center;
    height: 100%;
  }

  .description p {
    margin: 20px 10px;
  }
}
@media (max-width: 320px) {
  .description {
    margin-bottom: 150px;
    min-width: 320px;
    height: 70vh;
  }
}
.history {
  /* position: relative;*/
  height: 560px;
  background: #f2dbd4;
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.15), 0 5px 5px 3px rgba(0, 0, 0, 0.05);
  content: "";
  width: 100%;
}

.history .wrapper {
  max-width: 975px;
  margin: 0 auto;
  padding: 75px 0;
  width: 100%;
}

.history-content {
  position: relative;
  height: 356px;
  width: 100%;
}

.history-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 885px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}

.dot {
  display: inline-block;
  border-radius: 50%;
  background: #000000;
  height: 24px;
  width: 24px;
  position: relative;
}

.dot::after {
  left: 20px;
  display: inline-block;
  height: 0px;
  width: 100px;
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  border-top: 6px solid #000000;
}

.dot::before {
  right: 20px;
  display: inline-block;
  height: 0px;
  width: 100px;
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  border-top: 6px solid #000000;
}

.dot:first-child:before {
  display: none;
}

.bottom-date {
  top: 23px;
  display: inline-block;
  max-width: 100px;
  height: 50px;
  color: #ffffff;
  font-size: 17px;
  line-height: 24px;
  word-wrap: break-word;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-family: "FuturaStd Bold";
  font-weight: 600;
}

.top-date {
  bottom: 23px;
  display: inline-block;
  max-width: 100px;
  height: 50px;
  color: #ffffff;
  font-size: 17px;
  line-height: 24px;
  word-wrap: break-word;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-family: "FuturaStd Bold";
}

.dashed-dot {
  display: inline-block;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  position: relative;
  background: transparent;
  border: 3px dashed #000000;
}

.dashed-dot::before {
  right: 20px;
  border-top: 6px dashed #000000;
  display: inline-block;
  height: 0px;
  width: 100px;
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
}

.last-date {
  display: inline-block;
  max-width: 100px;
  height: 50px;
  color: #ffffff;
  font-size: 17px;
  line-height: 24px;
  word-wrap: break-word;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
}

.history-description {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
}

.history-description-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

/*.history-description-item i.icon-from-sprite {
    background-size: contain; 
    background-size:100%; 
 }*/
.history-description-item.site-launch {
  top: 35px;
  left: 15px;
  background-position: -267px -10px;
  background-image: url("../img/css_sprites.png");
  height: 78px;
  width: 96px;
}

.history-description-item.hundreds-of-ideas {
  background-position: -10x -10px;
  background-image: url("../img/css_sprites.png");
  top: 30px;
  left: 282px;
  align-items: center;
  position: absolute;
  flex-direction: column-reverse;
  width: 130px;
  height: 120px;
}

.one-hour-debut {
  top: 38px;
  right: 266px;
  background-position: -267px -10px;
  background-image: url("../img/css_sprites.png");
  height: 78px;
  width: 110px;
  flex-direction: column-reverse;
}

.history-description-item.your-idea-next {
  background-position: -383px -10px;
  background-image: url("../img/css_sprites.png");
  top: 35px;
  right: 25px;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 75px;
}

.history-description-item.first-campaigns {
  background-position: -152px -10px;
  background-image: url("../img/css_sprites.png");
  bottom: 50px;
  left: 86px;
  align-items: center;
  position: absolute;
  width: 95px;
  height: 82px;
}

.shop-opens {
  background-position: -10px -124px;
  background-image: url("../img/css_sprites.png");
  bottom: 50px;
  left: 260px;
  align-items: center;
  position: absolute;
  width: 84px;
  height: 92px;
}

.community-grows {
  bottom: 40px;
  left: 450px;
  background-image: url("../img/css_sprites.png");
  background-position: -10px -236px;
  align-items: center;
  position: absolute;
  width: 86px;
  height: 68px;
}

.press-party {
  background-image: url("../img/css_sprites.png");
  background-position: -114px -124px;
  bottom: 0px;
  right: 190px;
  width: 145px;
  height: 141px;
}

.ideas-come-to-life {
  background-image: url("../img/css_sprites.png");
  background-position: -267px -108px;
  bottom: 0px;
  right: 5px;
  width: 145px;
  height: 141px;
}

.history-description-item p {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  display: block;
}

.site-launch p {
  max-width: 62px;
  height: 42px;
  margin-top: 85px;
}

.hundreds-of-ideas p {
  max-width: 130px;
  margin: 0 0 110px 0px;
}

.one-hour-debut p {
  max-width: 130px;
  margin: 0 0 90px 0;
}

.your-idea-next p {
  min-width: 110px;
  margin-top: 85px;
}

.first-campaigns p {
  min-width: 128px;
  margin-top: 95px;
  padding-right: 25px;
}

.shop-opens p {
  max-width: 70px;
  margin-top: 100px;
}

.community-grows p {
  min-width: 155px;
  margin-top: 70px;
}

.ideas-come-to-life p {
  min-width: 150px;
  margin-top: 100px;
  padding-right: 35px;
}

.press-party p {
  max-width: 150px;
  margin-top: 100px;
  padding-right: 35px;
  width: 100%;
}

p.transform-text {
  transform: rotate(-45deg);
  font-weight: bolder;
  font-size: 26px;
  position: absolute;
  margin: 85px 0 0 110px;
  font-family: "FuturaStd Bold";
}

p.wwd {
  margin: 85px 0 0 450px;
}

@media (max-width: 767px) {
  .history {
    height: auto;
    width: 100vw;
  }

  .history .wrapper {
    max-width: 90vw;
  }

  .history-content {
    height: 620px;
  }

  .history-line {
    transform: translate(-50%, -50%) rotate(90deg);
    width: 546px;
  }

  .dot::after {
    left: 0px;
    width: 76px;
  }

  .dashed-dot::before {
    width: 56px;
    right: 20px;
    border-top: 6px dashed #000000;
  }

  .first-date {
    top: -15px;
    left: -75px;
    transform: rotate(-90deg);
  }

  .top-date {
    transform: rotate(180deg);
    left: -23px;
  }

  .last-date {
    top: -18px;
    left: 35px;
    transform: rotate(-90deg);
  }

  .history-description {
    width: 360px;
    margin: 0 auto;
    position: relative;
    height: 100%;
  }

  .history-description .site-launch {
    top: -20px;
    left: 246px;
  }

  .history-description-item.hundreds-of-ideas {
    top: 193px;
    left: -6px;
    flex-direction: column;
  }

  .hundreds-of-ideas p {
    margin: 110px 0 0 0px;
  }

  .one-hour-debut {
    top: 356px;
    right: 233px;
    flex-direction: column;
  }

  .one-hour-debut p {
    margin: 85px 0 0 0;
  }

  .history-description-item.your-idea-next {
    top: 536px;
    right: 32px;
  }

  .history-description-item.first-campaigns {
    bottom: 485px;
    left: 20px;
  }

  .shop-opens {
    bottom: 414px;
    left: 250px;
  }

  .community-grows {
    bottom: 148px;
    left: 250px;
  }

  .ideas-come-to-life {
    bottom: 10px;
    right: 190px;
  }

  .press-party {
    bottom: 210px;
    left: 250px;
  }

  p.transform-text {
    display: none;
  }
}
@media (max-width: 320px) {
  .history {
    height: auto;
    width: 100vw;
  }

  .history .wrapper {
    max-width: 50vw;
  }

  .history-content {
    height: 620px;
    max-width: 320px;
    width: 100%;
  }

  .history-description {
    max-width: 320px;
    margin: 0 auto;
    position: relative;
    height: 100%;
  }
}
